{% extends 'perkakas/base.html' %}
{% block content %}
	<a href="{% url 'alat_detail_view' peralatan.id %}"><b> <--Back </b></a>
	<h3>!!! peringatan !!!</h3>
	apakah anda ingin menghapus peralatan :  {{ peralatan.nama_alat }} ?
	<form action="" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="ya, yakin!">
	</form>
{% endblock %}